html {
    background: url('./images/bricktown.jpg') no-repeat center center fixed;
    background-size: cover;
    /*font-family: 'Proza Libre', sans-serif;*/
    font-family: 'Sansita', sans-serif;
    overflow: scroll;
}

body {
	background-color: rgba(255,255,255,.7);
	font-family: 'Sansita', sans-serif;
}

nav {
	display: flex;
	justify-content: center;
}

p {
	text-align: center;
	font-size: 18px
}

iframe {
	width: 600px;
	height: 400px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center
}

button {
	width: 160px;
	height: 24px;
	margin: 0 5px;
	border-radius: 10px;
	border: 1px solid black;
	font-family: 'Sansita', sans-serif;
	font-size: 16px;
}

button:hover {
	box-shadow: 1px 1px 2px red;
	cursor: pointer;
}

header {
	text-align: center;
}

input {
	    font-family: 'Sansita', sans-serif;
}

h1 {
	font-size: 48px;
	text-align: center;
	font-family: 'Sansita', sans-serif;
}

h2 {
	text-align: center;
	margin-bottom: 0
}

.user-name-head, .address-index-title {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding-bottom: 5px;
	text-transform: uppercase;
}

#move-there-header {
	margin-top: 0;
}

.Address-Show {
	display: flex;
}

.Address-Info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.yelp-list {
	columns: 3;
	margin-top: 10px;
}

.yelp-list > li {
	break-inside: avoid-column;
	margin-bottom: 10px;
}
.weathers {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.user-addresses, .all-addresses {
	columns: 2;
	margin: 20px 0;
	column-gap: 50px;
}

.user-addresses > li, .all-addresses > li {
	margin-bottom: 20px;
	break-inside: avoid-column;
}

.user-buttons {
	display: flex;
}

.user-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-address-list {
	margin-bottom: 10px;
}

.Four-of-Four {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Four-of-Four > img {
	width: 600px;
}

.login-form, .registration-form, .address-edit-form, .new-address-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registration-form {
	width: 75%;
	margin: auto;
}

.login-form > input {
	width: 180px;
	height: 40px;
	text-align: center;
	font-size: 24px;
}

.registration-form > div {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 24px;
	border-bottom: 1px dashed black;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center
}

.login > button, .login-form > button {
	margin-top: 20px
}

.whole-user-page {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}

.whole-user-page > .edit-user-hid {
	display: flex;
	flex-direction: column;
}

.whole-user-page > .edit-user-hid > button {
	align-self: center;
}

.registration-form > div > input, .address-edit-form > input, .new-address-form > input {
	text-align: center;
	height: 30px;
	font-size: 16px
}

.address-edit-form > input, .new-address-form > input {
	width: 240px;
}

.input-numbers {
	width: 80px;
	align-self: flex-end;
}

.input-words {
	width: 240px;
	align-self: flex-end;
}
